.normal {
  background-color: rgb(233, 192, 252);
}
.fighting {
  background-color: rgb(234 88 12);
}
.flying {
  background-color: rgb(14 165 233);
}
.poison {
  background-color: rgb(139 92 246);
}
.ground {
  background-color: rgb(124 45 18);
}
.rock {
  background-color: rgb(87 83 78);
}
.bug {
  background-color: rgb(132 204 22);
}
.ghost {
  background-color: rgb(20 184 166);
}
.steel {
  background-color: rgb(45 212 191);
}
.fire {
  background-color: rgb(239 68 68);
}
.water {
  background-color: rgb(37 99 235);
}
.grass {
  background-color: rgb(5 150 105);
}
.electric {
  background-color: rgb(252 211 77);
}
.psychic {
  background-color: rgb(236 72 153);
}
.ice {
  background-color: rgb(56 189 248);
}
.dragon {
  background-color: rgb(8 145 178);
}
.dark {
  background-color: rgb(88 28 135);
}
.fairy {
  background-color: rgb(244 63 94);
}
.unknown {
  background-color: rgb(64 64 64);
}
.shadow {
  background-color: rgb(76 29 149);
}