// Background Colors by Pokemon Type
$bg-normal: hsl(280, 20%, 89%);

$bg-fighting: hsl(21, 90%, 89%);

$bg-flying: hsl(199, 89%, 89%);

$bg-poison: hsl(258, 90%, 89%);

$bg-ground: #f8d8ce;

$bg-rock: hsl(33, 5%, 89%);

$bg-bug: hsl(84, 81%, 89%);

$bg-ghost: hsl(173, 80%, 89%);

$bg-steel: hsl(172, 66%, 89%);

$bg-fire: hsl(0, 84%, 89%);

$bg-water: hsl(221, 83%, 89%);

$bg-grass: #c9fded;

$bg-electric: hsl(46, 97%, 89%);

$bg-psychic: hsl(330, 81%, 89%);

$bg-ice: hsl(198, 93%, 89%);

$bg-dragon: hsl(192, 91%, 89%);

$bg-dark: hsl(274, 66%, 89%);

$bg-fairy: hsl(350, 89%, 89%);

$bg-unknown: hsl(0, 0%, 89%);

$bg-shadow: hsl(264, 67%, 89%);

// Border Color by Pokemon Type2
$border-normal: #523d5c;

$border-fighting: #913808;

$border-flying: #086591;

$border-poison: #310891;

$border-ground: #863013;

$border-rock: #504d49;

$border-bug: #598a0f;

$border-ghost: #0f8a7b;

$border-steel: #1a7f72;

$border-fire: #8d0c0c;

$border-water: #0d358c;

$border-grass: #059467;

$border-electric: #977402;

$border-psychic: #8a0f4d;

$border-ice: #056994;

$border-dragon: #077692;

$border-dark: #531a7f;

$border-fairy: #91081f;

$border-unknown: #4d4d4d;

$border-shadow: #421980;

// Bullet Color by Pokemon Type
$normal: #e9c0fc;

$fighting: #ea580c;

$flying: #0ea5e9;

$poison: #8b5cf6;

$ground: #7c2d12;

$rock: #57534e;

$bug: #84cc16;

$ghost: #14b8a6;

$steel: #2dd4bf;

$fire: #ef4444;

$water: #2563eb;

$grass: #059669;

$electric: #fcd34d;

$psychic: #ec4899;

$ice: #38bdf8;

$dragon: #0891b2;

$dark: #581c87;

$fairy: #f43f5e;

$unknown: #404040;

$shadow: #4c1d95;
